<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<body>

<div th:fragment="bookCards(books)" class="row row-cols-1 row-cols-md-6 g-4">
    <div th:each="book : ${books}" th:insert="~{:: bookCard(book)}"></div>
</div>

<div th:fragment="bookCardsNew(books)" class="row row-cols-1 row-cols-md-6 g-4 mt-1 align-items-center justify-content-center">
    <div th:each="book : ${books}" th:insert="~{:: bookCard(book)}"></div>

    <div class="col">
        <div class="card">
            <button type="button"
                    class="btn btn-secondary btn-lg px-4 fw-bold"
                    data-bs-toggle="modal" data-bs-target="#editForm">
                <i class="bi bi-plus-square"></i><br>Add Book
            </button>
        </div>
    </div>
</div>

<div th:fragment="bookCard(book)" class="col">
    <div class="card">
        <a th:href="@{/book/detail/{bookTitle}(bookTitle = ${book.title})}">
            <img height="300px" th:src="${book.imageUrl}" class="card-img-top object-fit-cover" th:alt="|Cover for ${book.title}|" />
        </a>
        <div class="card-footer">
            <small class="text-body-secondary" th:text="|${book.numberOfAvailableCopies} available out of ${book.numberOfCopies}|"></small>
        </div>
    </div>
</div>

<div th:fragment="bookForm(formBook, allAuthors, #fields)">
    <form class="row g-3" th:action="@{/book/save}" method="post" th:object="${formBook}">
        <input type="hidden" th:field="*{bookId}">
        <div class="row g-3 align-items-center">
            <div class="col-5">
                <label for="title" class="col-form-label">Title</label>
            </div>
            <div class="col-7">
                <input type="text" id="title" class="form-control" aria-describedby="titleHelpInline" th:field="*{title}">
            </div>
            <div class="col-12">
                    <span id="titleHelpInline" class="form-text" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
                    </span>
            </div>
        </div>
        <div class="row g-3 align-items-center">
            <div class="col-5">
                <label for="description" class="col-form-label">Description</label>
            </div>
            <div class="col-7">
                <textarea id="description" class="form-control" aria-describedby="descriptionHelpInline" th:field="*{description}"></textarea>
            </div>
            <div class="col-12">
                    <span id="descriptionHelpInline" class="form-text" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">
                    </span>
            </div>
        </div>
        <div class="row g-3 align-items-center">
            <div class="col-5">
                <label for="imageUrl" class="col-form-label">Image URL</label>
            </div>
            <div class="col-7">
                <input type="url" id="imageUrl" class="form-control" aria-describedby="imageUrlHelpInline" th:field="*{imageUrl}">
            </div>
            <div class="col-12">
                    <span id="imageUrlHelpInline" class="form-text" th:if="${#fields.hasErrors('imageUrl')}" th:errors="*{imageUrl}">
                    </span>
            </div>
        </div>
        <div class="row g-3 align-items-center">
            <div class="col-5">
                <label for="authors" class="col-form-label">Authors</label>
            </div>
            <div class="col-7">
                <select id="authors" class="form-select" aria-describedby="authorHelpInline" th:field="*{authors}" multiple>
                    <option th:each="authorOption : ${allAuthors}"
                            th:text="${authorOption.name}"
                            th:value="${authorOption.authorId}">
                    </option>
                </select>
            </div>
            <div class="col-12">
                    <span id="authorHelpInline" class="form-text" th:if="${#fields.hasErrors('authors')}" th:errors="*{authors}">
                    </span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mb-3">Save book</button>
    </form>
</div>

<!-- Modal -->
<div th:fragment="bookFormModal(formBook, allAuthors, #fields)" class="modal fade" id="editForm" tabindex="-1" aria-labelledby="editFormModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <h1 class="modal-title text-center" id="editFormModalLabel">Book edit form</h1>
            <div class="modal-body">
                <div class="container-fluid">
                    <div th:replace="~{:: bookForm(${formBook}, ${allAuthors}, ${#fields})}"></div>
                </div>
            </div>
        </div>
    </div>

    <script th:unless="${formModalHidden}">
        new bootstrap.Modal(document.getElementById('editForm'), {}).toggle()
    </script>
</div>

</body>

</html>