<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Overview of all the books in the library</title>
</head>
<body>
<h1>Overview of all the books in the library</h1>

<table>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th></th>
    </tr>
    <tr th:each="book : ${allBooks}">
        <td th:text="${book.title}"></td>
        <td th:text="${book.author}"></td>
        <td><a th:href="@{/book/delete/{bookId}(bookId = ${book.bookId})}">delete</a></td>
    </tr>
</table>

<a th:href="@{/book/new}">Add new book</a>

</body>
</html>